[user]
        email = 23664359+louga31@users.noreply.github.com
        name = Quentin Ormancey
[core]
        editor = nano
        excludesfile = /etc/.gitignore_global
[pull]
        rebase = true
[init]
        defaultBranch = main
[credential "https://github.com"]
        helper =
        helper = !/usr/bin/gh auth git-credential
